In [5]:
import pandas as pd

In [6]:
# cargar dataframes

#df = pd.read_csv('datos.csv', delimiter=';')
df = pd.read_csv('AvFrancia.csv', delimiter=',')
#temperaturas = pd.read_csv('temperatura.csv', delimiter=';')
clima = pd.read_csv('clima_2013-2022.csv', delimiter=',')
print('Valores nulos:')
df.isnull().sum()

Valores nulos:

idEstacion       0
estacion         0
FECHA            0
SO2            362
CO             392
PM1           2893
O3             116
Veloc.          24
NO2            438
NO             438
PM2.5         1593
PM10          1593
NOx            438
Direc.           3
HCT           4792
CH4           4792
HNM           4792
dtype: int64

In [7]:
df

,idEstacion,estacion,FECHA,SO2,CO,PM1,O3,Veloc.,NO2,NO,PM2.5,PM10,NOx,Direc.,HCT,CH4,HNM
0,46250047,AvFrancia,2009-01-01,3.0,0.4,11.0,18.0,1.1,59.0,10.0,NaN,NaN,74.0,196.0,NaN,NaN,NaN
1,46250047,AvFrancia,2009-01-02,3.0,0.5,13.0,13.0,1.1,74.0,55.0,NaN,NaN,158.0,193.0,NaN,NaN,NaN
2,46250047,AvFrancia,2009-01-03,3.0,0.4,12.0,10.0,0.7,70.0,38.0,NaN,NaN,129.0,142.0,NaN,NaN,NaN
3,46250047,AvFrancia,2009-01-04,3.0,0.4,6.0,28.0,1.7,56.0,26.0,NaN,NaN,95.0,78.0,NaN,NaN,NaN
4,46250047,AvFrancia,2009-01-05,3.0,0.4,7.0,16.0,1.0,75.0,31.0,NaN,NaN,122.0,182.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4787,46250047,AvFrancia,2022-03-27,4.0,0.1,NaN,91.0,2.0,5.0,2.0,16.0,46.0,7.0,37.0,NaN,NaN,NaN
4788,46250047,AvFrancia,2022-03-28,4.0,0.1,NaN,70.0,NaN,13.0,5.0,19.0,40.0,20.0,40.0,NaN,NaN,NaN
4789,46250047,AvFrancia,2022-03-29,4.0,0.1,NaN,64.0,2.6,13.0,6.0,22.0,42.0,22.0,20.0,NaN,NaN,NaN
4790,46250047,AvFrancia,2022-03-30,4.0,0.1,NaN,59.0,NaN,13.0,2.0,18.0,44.0,16.0,214.0,NaN,NaN,NaN
4791,46250047,AvFrancia,2022-03-31,4.0,0.1,NaN,60.0,1.1,9.0,2.0,5.0,13.0,12.0,294.0,NaN,NaN,NaN

In [8]:
clima

,FECHA,Racha Max (Km/h),Hora Racha,Veloc (Media),PrecipitaciÃ³n: l/m2,T. MÃ¡xima,T.MÃ­nima
0,07-05-2013,41.0,17:50:00,17.0,0.0,32.1,16.1
1,08-05-2013,21.0,16:50:00,10.0,0.0,29.1,19.8
2,09-05-2013,26.0,14:00:00,11.0,0.0,22.8,17.4
3,10-05-2013,31.0,13:20:00,15.0,0.0,22.3,16.6
4,11-05-2013,26.0,14:50:00,12.0,0.0,21.4,15.1
...,...,...,...,...,...,...,...
3276,26-04-2022,22.0,15:00:00,9.0,0.0,19.3,10.8
3277,27-04-2022,20.0,15:30:00,10.0,0.5,18.7,13.5
3278,28-04-2022,26.0,16:30:00,13.0,7.9,17.9,14.0
3279,29-04-2022,25.0,11:30:00,12.0,0.0,22.1,11.4
3280,30-04-2022,26.0,16:40:00,15.0,0.1,25.1,14.5

In [9]:
# aÃ±adir columna 'TEMP' en df con las temperaturas del segundo dataFrame segun la fecha
#df = pd.merge(left=df, right=temperaturas, how='left', left_on='FECHA', right_on='FECHA')
df = pd.merge(left=df, right=clima, how='left', left_on='FECHA', right_on='FECHA')

KeyError: 'FECHA'

In [ ]:
df

In [ ]:
# actualizar columna 'Temp.' con 'TEMP' cuando el campo 'Temp.' no tenga valor
df.loc[df['Temp.'].isna(),'Temp.']=df['T. MÃ¡xima']

In [ ]:

# una vez hecha la actualizaciÃ³n eliminar la columna que sobra
#df = df.drop('TEMP', axis=1)

print('Valores nulos:')
df.isnull().sum()

In [ ]:
df