## Creamos un DataFrame CON PANDAS a partir de fichero .txt ##

In [60]:
import pandas as pd

In [61]:
# Cumplimentar Parámetros según estación a procesar
estacion = 'PistaDeSilla'
idEstacion = '46250030'
desdeAño = 1994
hastaAño = 2022

In [62]:
# Eliminar lineas innecesarias
for año in range(desdeAño, hastaAño + 1):
    fichero = 'MDEST' + str(idEstacion) + str(año) + '.txt'
    lineas = []
    with open(fichero, encoding='cp1252') as ftxt:
        lineas = ftxt.readlines()
        del lineas[4]
        del lineas[2]
        del lineas[1]
        del lineas[0]
    # escribir archivo de salida una vez hechos los reemplazos
    with open(fichero, "w") as ftxt:
        ftxt.writelines(lineas)

In [63]:
# Reemplazar comas por puntos en ficheros de entrada
for año in range(desdeAño, hastaAño + 1):
    fichero = 'MDEST' + str(idEstacion) + str(año) + '.txt'
    salida = []
    with open(fichero) as ftxt:
        lineas = ftxt.readlines()
        for linea in lineas:
            linea = linea.replace(',', '.')
            linea = linea.replace(' 0:00', '')
            salida.append(linea)
    # escribir archivo de salida una vez hechos los reemplazos
    with open(fichero, "w") as ftxt:
        ftxt.writelines(salida)

In [64]:
# Crear dataframe vacio
df = pd.DataFrame()
# Crear una lista de columnas vacía
columnas = []

In [65]:
# Cargar todos los archivos txt de la estación
for año in range(desdeAño, hastaAño + 1):
    fichero = 'MDEST' + str(idEstacion) + str(año) + '.txt'
    dfaux = pd.read_table(fichero, decimal=".")
    # Comprobar si hay nuevas columnas
    print(f'>>>>>>>>> Año:{año} ', end =',') 
    for c in dfaux.columns:
        if c not in columnas:
            print(f' {c}', end= ',')
            columnas.append(c)
    print()
    df = pd.concat([df, dfaux])

>>>>>>>>> Año:1994 , FECHA, SO2, PST, CO, NO, NO2, NOx, O3, Ruido, Veloc., Direc., Temp., H.Rel., Pres., R.Sol.,
>>>>>>>>> Año:1995 ,
>>>>>>>>> Año:1996 ,
>>>>>>>>> Año:1997 , Pb,
>>>>>>>>> Año:1998 ,
>>>>>>>>> Año:1999 ,
>>>>>>>>> Año:2000 ,
>>>>>>>>> Año:2001 ,
>>>>>>>>> Año:2002 ,
>>>>>>>>> Año:2003 ,
>>>>>>>>> Año:2004 ,
>>>>>>>>> Año:2005 ,
>>>>>>>>> Año:2006 ,
>>>>>>>>> Año:2007 ,
>>>>>>>>> Año:2008 ,
>>>>>>>>> Año:2009 ,
>>>>>>>>> Año:2010 , PM10,
>>>>>>>>> Año:2011 , Veloc.m?.,
>>>>>>>>> Año:2012 ,
>>>>>>>>> Año:2013 , PM2.5, PM1,
>>>>>>>>> Año:2014 , C6H6, C8H10, C7H8,
>>>>>>>>> Año:2015 ,
>>>>>>>>> Año:2016 ,
>>>>>>>>> Año:2017 ,
>>>>>>>>> Año:2018 , Tolueno, Benceno, Xileno, Unnamed: 12,
>>>>>>>>> Año:2019 ,
>>>>>>>>> Año:2020 ,
>>>>>>>>> Año:2021 ,
>>>>>>>>> Año:2022 ,

In [66]:
# Convertir a numerica todas las columnas excepto la primera (FECHA)
columnas = df.columns.to_list()
del columnas[0]
for c in columnas:
    df[c] = pd.to_numeric(df[c], errors='coerce')

# Convertir la fecha a formato datetime
df['FECHA'] = pd.to_datetime(df['FECHA'], format="%d/%m/%Y")

df.insert(0, 'idEstacion', idEstacion)
df.insert(1, 'estacion', estacion)

df

,idEstacion,estacion,FECHA,SO2,PST,CO,NO,NO2,NOx,O3,...,Veloc.m?.,PM2.5,PM1,C6H6,C8H10,C7H8,Tolueno,Benceno,Xileno,Unnamed: 12
0,46250030,PistaDeSilla,1994-04-05,18.0,97.0,3.5,48.0,39.0,112.0,24.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,46250030,PistaDeSilla,1994-04-06,9.0,79.0,2.6,23.0,34.0,69.0,36.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,46250030,PistaDeSilla,1994-04-07,10.0,NaN,2.5,21.0,32.0,64.0,34.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,46250030,PistaDeSilla,1994-04-08,NaN,102.0,2.1,14.0,27.0,49.0,50.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,46250030,PistaDeSilla,1994-04-09,9.0,108.0,2.1,16.0,28.0,52.0,44.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,46250030,PistaDeSilla,2022-03-27,3.0,NaN,0.1,2.0,12.0,14.0,84.0,...,NaN,13.0,NaN,0.3,0.4,0.6,NaN,NaN,NaN,NaN
86,46250030,PistaDeSilla,2022-03-28,4.0,NaN,0.1,10.0,22.0,37.0,60.0,...,NaN,17.0,NaN,0.5,0.7,1.0,NaN,NaN,NaN,NaN
87,46250030,PistaDeSilla,2022-03-29,4.0,NaN,0.1,12.0,21.0,39.0,55.0,...,NaN,19.0,NaN,0.6,0.9,1.3,NaN,NaN,NaN,NaN
88,46250030,PistaDeSilla,2022-03-30,4.0,NaN,0.1,12.0,26.0,45.0,47.0,...,NaN,17.0,NaN,0.5,0.6,4.4,NaN,NaN,NaN,NaN
89,46250030,PistaDeSilla,2022-03-31,3.0,NaN,0.1,5.0,16.0,24.0,50.0,...,NaN,4.0,NaN,0.4,0.5,0.7,NaN,NaN,NaN,NaN

In [67]:
df.to_csv(idEstacion + estacion + '.csv', sep=';', index=False)

In [68]:
df2 = pd.read_csv(idEstacion + estacion + '.csv', sep=';', decimal='.')
df2

,idEstacion,estacion,FECHA,SO2,PST,CO,NO,NO2,NOx,O3,...,Veloc.m?.,PM2.5,PM1,C6H6,C8H10,C7H8,Tolueno,Benceno,Xileno,Unnamed: 12
0,46250030,PistaDeSilla,1994-04-05,18.0,97.0,3.5,48.0,39.0,112.0,24.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,46250030,PistaDeSilla,1994-04-06,9.0,79.0,2.6,23.0,34.0,69.0,36.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,46250030,PistaDeSilla,1994-04-07,10.0,NaN,2.5,21.0,32.0,64.0,34.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,46250030,PistaDeSilla,1994-04-08,NaN,102.0,2.1,14.0,27.0,49.0,50.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,46250030,PistaDeSilla,1994-04-09,9.0,108.0,2.1,16.0,28.0,52.0,44.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9868,46250030,PistaDeSilla,2022-03-27,3.0,NaN,0.1,2.0,12.0,14.0,84.0,...,NaN,13.0,NaN,0.3,0.4,0.6,NaN,NaN,NaN,NaN
9869,46250030,PistaDeSilla,2022-03-28,4.0,NaN,0.1,10.0,22.0,37.0,60.0,...,NaN,17.0,NaN,0.5,0.7,1.0,NaN,NaN,NaN,NaN
9870,46250030,PistaDeSilla,2022-03-29,4.0,NaN,0.1,12.0,21.0,39.0,55.0,...,NaN,19.0,NaN,0.6,0.9,1.3,NaN,NaN,NaN,NaN
9871,46250030,PistaDeSilla,2022-03-30,4.0,NaN,0.1,12.0,26.0,45.0,47.0,...,NaN,17.0,NaN,0.5,0.6,4.4,NaN,NaN,NaN,NaN
9872,46250030,PistaDeSilla,2022-03-31,3.0,NaN,0.1,5.0,16.0,24.0,50.0,...,NaN,4.0,NaN,0.4,0.5,0.7,NaN,NaN,NaN,NaN

In [69]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9873 entries, 0 to 9872
Data columns (total 29 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   idEstacion   9873 non-null   int64
 1   estacion     9873 non-null   object
 2   FECHA        9873 non-null   object
 3   SO2          9055 non-null   float64
 4   PST          4874 non-null   float64
 5   CO           9068 non-null   float64
 6   NO           9298 non-null   float64
 7   NO2          9299 non-null   float64
 8   NOx          9298 non-null   float64
 9   O3           9088 non-null   float64
 10  Ruido        9411 non-null   float64
 11  Veloc.       7190 non-null   float64
 12  Direc.       7188 non-null   float64
 13  Temp.        7190 non-null   float64
 14  H.Rel.       6996 non-null   float64
 15  Pres.        6813 non-null   float64
 16  R.Sol.       7135 non-null   float64
 17  Pb           1308 non-null   float64
 18  PM10         4261 non-null   float64
 19  Veloc.m?.    355 non-null    float64
 20  PM2.5        3283 non-null   float64
 21  PM1          1726 non-null   float64
 22  C6H6         1877 non-null   float64
 23  C8H10        1878 non-null   float64
 24  C7H8         1872 non-null   float64
 25  Tolueno      320 non-null    float64
 26  Benceno      297 non-null    float64
 27  Xileno       320 non-null    float64
 28  Unnamed: 12  0 non-null      float64
dtypes: float64(26), int64(1), object(2)
memory usage: 2.2+ MB

In [70]:
df2.isnull().sum()/len(df)*100

idEstacion       0.000000
estacion         0.000000
FECHA            0.000000
SO2              8.285222
PST             50.633040
CO               8.153550
NO               5.823964
NO2              5.813836
NOx              5.823964
O3               7.950977
Ruido            4.679429
Veloc.          27.175124
Direc.          27.195381
Temp.           27.175124
H.Rel.          29.140079
Pres.           30.993619
R.Sol.          27.732199
Pb              86.751747
PM10            56.841892
Veloc.m?.       96.404335
PM2.5           66.747696
PM1             82.517978
C6H6            80.988555
C8H10           80.978426
C7H8            81.039198
Tolueno         96.758837
Benceno         96.991796
Xileno          96.758837
Unnamed: 12    100.000000
dtype: float64

In [71]:
df2.describe()

,idEstacion,SO2,PST,CO,NO,NO2,NOx,O3,Ruido,Veloc.,...,Veloc.m?.,PM2.5,PM1,C6H6,C8H10,C7H8,Tolueno,Benceno,Xileno,Unnamed: 12
count,9873.0,9055.000000,4874.000000,9068.000000,9298.000000,9299.000000,9298.000000,9088.000000,9411.000000,7190.000000,...,355.000000,3283.000000,1726.000000,1877.000000,1878.000000,1872.000000,320.000000,297.000000,320.000000,0.0
mean,46250030.0,5.401767,58.632684,0.600154,34.795870,48.005484,101.251559,38.465669,62.854744,0.914910,...,2.598873,11.307341,8.172654,1.326159,2.011502,4.366934,4.894375,1.882492,2.195000,NaN
std,0.0,4.697126,32.047080,0.598868,31.972759,23.002017,68.517161,19.066152,6.320660,0.602857,...,1.183827,7.687983,5.729079,1.142694,2.381727,4.177240,3.564643,1.093020,1.959425,NaN
min,46250030.0,0.000000,5.000000,0.000000,1.000000,1.000000,3.000000,2.000000,6.000000,0.000000,...,0.110000,1.000000,1.000000,0.000000,0.000000,0.000000,0.400000,0.200000,0.200000,NaN
25%,46250030.0,3.000000,36.000000,0.200000,13.000000,31.000000,53.000000,24.000000,60.000000,0.500000,...,1.880000,6.000000,4.000000,0.500000,0.500000,1.600000,2.500000,1.000000,0.800000,NaN
50%,46250030.0,4.000000,54.000000,0.400000,25.000000,46.000000,85.000000,38.000000,63.000000,0.800000,...,2.480000,9.000000,7.000000,1.000000,1.200000,3.200000,3.750000,1.700000,1.500000,NaN
75%,46250030.0,6.000000,74.000000,0.800000,45.000000,62.000000,131.000000,52.000000,66.000000,1.100000,...,3.010000,14.000000,11.000000,1.700000,2.700000,5.725000,6.400000,2.700000,3.100000,NaN
max,46250030.0,61.000000,296.000000,5.700000,362.000000,157.000000,676.000000,112.000000,250.000000,4.500000,...,8.790000,84.000000,53.000000,9.700000,20.300000,35.200000,23.400000,6.100000,17.800000,NaN